.reais-container {
    position: relative;
}

#reais {
    color: #ccc;
    position: absolute;
    left: 10px;
    bottom: 7px;
}

#value {
    text-indent: 20px;
}

.navbar-brand {
    font-size: 18px;
    padding: 0px;
    padding-left: 8px;
}
